<%= form_for(course) do |f| %>
  <% if course.errors.any? || notice%>
    <div id="error_explanation">
      <% if notice %>
      <h2><%= "1 error" %>
      <% else %>
      <h2><%= pluralize(course.errors.count, "error") %>
      <% end %>
        prohibited this course from being saved:</h2>
      <ul>
      <% if notice %>
      <li><%= notice %></li>
      <% else %>
        <% course.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :code %>
    <%= f.text_field :code %>
  </div>

  <div class="field">
    <%= f.label :quota %>
    <%= f.number_field :quota, min:"1" %>
  </div>

  <div class="field">
    <%= f.label :teacher_id %>
    <%= f.select :teacher, options_for_select(Person.where("is_professor = ?", true).map{|s|[s.to_s, s.id]}) %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
